{%extends 'users/user_layout.html'%}
{%block content%}
<div class='row justify-content-center'>
    <div class='col-md-8 animate__animated animate__backInDown'>
        <input type='hidden' id='csrf_token' name='csrf_token' value='{{csrf_token()}}'>
        <div id='ajaxresponse'></div>
        <div><h4>Survey Title:{{questions.questsurv.survey_name}}</h4></div>
        <div class='mb-2'>
        <label>Question</label>
        <input type='text' id='question' name='question' value='{{questions.question_text}}'class='form-control'>
        </div>
        <div class='options'>
            {%for opt in option%}
            <label>Option {{loop.index}}</label>
            <input type='text' id='option{{loop.index}}' name='option{{loop.index}}' value='{{opt.option_text}}'class='form-control mb-2'>
            {%endfor%}
        </div>
        <div>
        <button class='btn btn-dark noround' id='btnquestion' type='button'>Add</button>
        </div>
    </div>
</div>

{%endblock%}
{%block customjs%}
<script type='text/javascript'>
    $(document).ready(function(){
        $('#btnquestion').click(function(){
           var que=$('#question').val()
           var op1=$('#option1').val()
           var op2=$('#option2').val()
           var op3=$('#option3').val()
           csrf=$('#csrf_token').val()
           data={'question':que,'option1':op1,'option2':op2,'option3':op3,'csrf_token':csrf}
           $('#ajaxresponse').load('/ninjasurvey/editquestion/{{questions.question_id}}/',data,function(){
            $(this).addClass('alert alert-success')
            $('#question').val('')
            $('#option1').val('')
            $('#option2').val('')
            $('#option3').val('')
           })
        })
    })
</script>
{%endblock%}